@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url("/static/img/fundo.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.button-container a{
  text-decoration: none;
  color: black;
}

.login-box {
  background-color: rgba(176, 219, 156, 0.7);
  width: 350px;
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  color: #fff;
  box-shadow: 0 0 20px rgba(155, 125, 125, 0.2);
}

.login-box h1 {
  margin-bottom: 25px;
  font-size: 40px;
  font-weight: 600;
}

.input-box {
  position: relative;
  margin-bottom: 20px;
}

.input-box input {
  width: 100%;
  padding: 12px 40px 12px 15px;
  border-radius: 25px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  font-size: 16px;
  border: 2px solid rgba(176, 219, 156, 0.5);
}

.input-box i {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(+30%);
  color: #555;
  font-size: 18px;
}

.input:hover {
  outline: none;
  border-color: #4a7c59;
  box-shadow: 0 0 0 3px rgba(74, 124, 89, 0.2);
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  margin-bottom: 20px;
}

.options a {
  color: #fff;
  text-decoration: none;
}

.options a:hover {
  text-decoration: underline;
}

.btn {
  padding: 12px 40px;
  border: none;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  transition: 0.3s;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(74, 124, 89, 0.4);
}
.bnt:active {
  transform: translateY(0);
}

.register {
  margin-top: 15px;
  font-size: 13px;
}

.register a {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

.register a:hover {
  text-decoration: underline;
}

.input-box label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: white;
  font-size: 14px;
  text-align: left;
}
